#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(6, 38, 63);
  border-radius: 17px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
  overflow: none;
  
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body{
  background-color: rgb(6, 38, 63);
  
} 

.logo {
  display: flex;
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  margin-right: 500px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.logo img{
  height: 33px;
  width: 31px;
  margin-left: 7px;
  margin-top: 33px;
  padding: 3px;
}

.logo p{
  font-size: 30px;
  color: #fff;
  margin-top: 35px;
  margin-right: 20px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
}
.navbar-items{
  display: flex;
  align-items: center;
}
.navbar-items a:hover{
  color: rgb(89, 247, 200);
}
.navbar-items a{
  color: #fff;
 transition: all 0.5s;
}
.navbar-items li{
  padding: 20px 25px;
}
.button{
  background-color:#fff;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}
.button a{
  color:rgb(6, 38, 63);
  text-decoration: none;
}
.button:hover{
  background-color: rgb(89, 247, 200) ;
}
.hero-page{
  display: flex;
  justify-content: space-between;
}
.header-text{
  margin-top: 50px;
  margin-left: 100px;
}
.header-text h4{
  color: #fff;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular',;
  font-weight: normal;
  text-align: left;
  width: 330px;
}
.header-text p{
  color: #fff;
  font-size: 15px;
  text-align: left;
  margin-top: 20px;
}
.button-container{
  position: absolute;
  margin-top: 30px;
}
.header-text .buy-button{
  height: 30px;
  width: 130px;
  background-color: rgb(89, 247, 200);
  color: rgb(6, 38, 63) ;
  border-radius: 20px;
  margin-top: 20px;
  padding: 5px;
  cursor: pointer;
}
.header-text .buy-button:hover{
  color: white;
  background-color: #e9e6e6;
}
.header-text .explore {
  height: 30px;
  width: 80px;
  border:2px solid #fff;
  background-color: rgb(6, 38, 63) ;
  border-radius:30px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
.header-text .explore:hover {
  background-color: rgb(89, 247, 200) ;
  color: black;
}
.images{
  margin-left: 200px;
  margin-top: 10px;
}
.pie-chart{
  height: 150px;
  width: 250px;
}
.bar-chart{
  height: 150px;
  width: 250px;
}
.bar-thread{
  height: 200px;
  width: 500px;
}
.logo-wall{
  display: flex;
  justify-content:  center;
  padding: 20px;
  margin-top: 10px;
 

/* h3 {
  color: #f1e1e1;
} */
}
.logo1{
  width: 25px;
  height: 30px;
  position: absolute;
  margin-right: 950px;
}
.logo2{
  width: 20px;
  height: 20px;
  margin-right: 550px;
  position: absolute;
  margin-top: 8px;
}
.logo3{
  width: 25px;
  height: 30px;
  position: absolute;
  margin-right: 200px;
}
.logo4{
    width: 20px;
    height: 20px;
    margin-left: 250px;
    position: absolute;
    margin-top: 8px;
}
.logo5{
  width: 25px;
  height: 30px;
  margin-left: 600px;
  position: absolute;
}
.logo6{
  width: 20px;
  height: 20px;
  margin-left: 1000px;
  position: absolute;
  margin-top: 8px;
}
.logo-1{
  margin-right: 850px;
  position: relative;
  margin-top: 5px;
  color: #fff;
}
.logo-2{
  margin-right: 470px;
  position: absolute;
  margin-top: 5px;
  color: #fff;
}
.logo-3{
  margin-right: 100px;
  position: absolute;
  margin-top: 5px;
  color: #fff;
}
.logo-4{
  margin-left: 330px;
  position: absolute;
  margin-top: 5px;
  color: #fff;
}
.logo-5{
  margin-left: 700px;
  position: absolute;
  margin-top: 5px;
  color: #fff;
}
.logo-6{
  margin-left: 1080px;
  position: absolute;
  margin-top: 5px;
  color: #fff;
}
